

{%load_static %}



{% block content %}

<form method="get" action="{% url 'post_search' %}">
    <input type="text" name="q" placeholder="Search posts..." value="{{ request.GET.q }}">
    <button type="submit">Search</button>
</form>

{% for post in posts %}
    <h4>{{post.title}}</h4>
    <p>{{ post.content}}</p>

        <a href = "{% url 'post_detail' post.id %}">click here </a>
        <a href = "{% url 'post_comment_list' post.id %}">show comments </a>
        <strong> {{ post.published_date }}</strong>
{% endfor %}
{% endblock %}
